.wrap-title {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Input {
    border-radius: 10px;
    height: 30px;
    width: 20%;
}

.Button {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}

.unorderlist {
    padding: 0;
}

.list {
    list-style: circle;
    border: 2px solid black;
    background-color: #f7f7f7;
    margin: 15px;
    padding: 0px 5px;
    border-radius: 10px;
    width: 80%;
}

.changelist {
    list-style: disc;
}